<form action="/api/login" method="post" class="form-example">
    <div class="form-example">
        <label for="user_name">Enter your name: </label>
        <input type="text" name="user_name" id="user_name" required>
    </div>
    <div class="form-example">
        <label for="password">Enter your password: </label>
        <input type="password" name="password" id="password" required>
    </div>
    <div class="form-example">
        <input type="submit" value="Login">
    <a href="/forms/new-user">Create Account</a>
    </div>
</form>