<form action="/api/user/" method="post" class="form-example">
    <div class="form-example">
        <label for="user_name">Enter your name: </label>
        <input type="text" name="user_name" id="user_name" required>
    </div>
    <div class="form-example">
        <label for="password">Enter your password: </label>
        <input type="password" name="password" id="password" required>
    </div>
    <div class="form-example">
        <input type="submit" value="Create Account">
        <a href="/forms/login">Login</a>
    </div>

</form>