<form action="/api/posts" method="post" class="form-example">
    <div class="form-example">
        <input type="text" name="title" id="title" required placeholder="Enter Title">
    </div>
    <div className="input-field">
        <textarea rows="10" cols="50" id="body" name="body" required placeholder="Enter Post"></textarea>
    </div>
    <div class="form-example">
        <input type="submit" value="Post">
    </div>
</form>