body {
    background-color:rgb(198, 212, 231);
    text-align: center;
}

textarea {
    resize: none;
    margin-bottom: 5px;
}

.navbar {
    font-size: x-large;
    margin-bottom: 10px;
}

.navbar a {
    text-decoration: none;
    margin: 10px;
}

.post-dashboard {
    margin: 20px;
    font-size: large;
    border-width: 5px;
    border-color: black;
    border-style: solid;
    width: 50%;
    display: inline-block;
}

.post-info {
    width: 100%;
    background-color: cornflowerblue;
    font-size: larger;
}

.post-info div {
    display: inline-block;
    margin: 10px;
}

.post-body {
    text-align: left;
    min-height: 40px;
    margin: 10px;
}

.comment {
    margin: 10px;
    font-size: large;
    border-width: 3px;
    border-color: black;
    border-style: solid;
    width: 100%;
    display: block;
}

.comment-body {
    text-align: left;
    min-height: 24px;
    margin: 6px;
}

.comment-list {
    display: inline-block;
    width: 40%;
}

input {
    background-color: whitesmoke;
    margin-bottom: 5px;
}